* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Spring';
    src: url(../../fonts/Fontspring-DEMO-theseasons-bd.otf);
  }

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: #444343;
  }  

  body::-webkit-scrollbar{
    display: none;
  }

body {
    background-color: #343434;
    color: #ece6e6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 3em;
    .wrapper{
        max-width: 1366px;
        object-fit: cover;
        margin: 0 auto;
        background-color: #212121;
        padding-bottom:5em ;
        header{
            display: flex;
            margin-top: 2.5em;
            margin-bottom: 4em;
            align-items: center;
            padding: 3em 6em;
            gap: 1em;

            .icon{
                width: auto;
                height: 30px;
                margin-bottom: -5px;
            }

            .circle{
                position: absolute;
                margin: -2em -64.8px;
            }

            nav{
                
                a{
                    text-decoration: none;
                    color: #ece6e6;
                }
            }
        }
        main{
            position: relative;
            align-items: center;
            text-align: center;
                .name{
                    position: absolute;
                    background-color:#212121 ; 
                    font-size: 15px;
                    right: 27em;
                    padding: 1.5em;
                    top:-10px;
                    letter-spacing: 1px;
                    
                    .times{
                        font-weight: 1000;
                    }
                    
                    .times:hover{
                        font-family: 'Times New Roman', Times, serif;
                        font-style: italic;
                    }
                }
                h1{
                    position: absolute;
                    text-align: left;
                    font-size: 2.8em;
                    left: 1.8em;
                    top: 4em;
                    font-family: 'Spring';
                    letter-spacing: 4px;
                    .black{
                        color: #212121;
                    }
                }
                h2{
                    text-align: left;
                    font-weight: 400;
                    position: absolute;
                    max-width: 21em; 
                    right: 9em;
                    top: 510px;
                    font-size: 1em;

                    .big{
                        font-style: italic;
                    }
                }

                .blacc{
                    position: absolute;
                    color: #212121;
                    left: 10.75em;
                    top: 5.2em;
                }

                .arrow{
                    position: absolute;
                    margin: 27em -43em;
                }

                a:hover{
                    scale: 1;
                    color: #ece6e6;
                    background-color: #212121;
                    font-style: italic;
                    font-weight: 650;
                }

                a{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    color: #212121;
                    background-color: #ece6e6;
                    padding: 1em;
                    margin: 2.5em 31.2em;
                    font-weight: 450;
                    transition: 450ms;

                    .test{
                        font-size: 100em;
                    }
                }

                section{
                    margin-top: 12em;
                    
                    .block{
                        top:48em;
                        left: 5.1em;
                        position: absolute;
                        height: 5px;
                        background-color: #343434;
                        margin: auto;
                        width: 71.6em;
                        border-radius: 5px;
                    }

                    .man{
                        position: relative;
                        right: 14em;
                        z-index: 1;
                    }

                    .sec2{
                        position: relative;
                        text-align: left;
                        max-width: 30em;
                        left: 5.2em;
                        top: 1em;
                    }

                    .desert{
                        position: absolute;
                        max-width: 100%;
                        height: auto;
                        margin: -22.8em 11em;
                    }
                }
        }
    }
}

