* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Boarding\ PersonalUse.ttf);
}

body {
    background-color: #343434;
    color: #ece6e6;
    font-family:'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden; 
    padding-top: 3em;
    .wrapper{
        max-width: 1466px;
        margin: 0 auto;
        background-color: #212121;
        padding-bottom:5em ;
        header{
            display: flex;
            margin-top: 2.5em;
            margin-bottom: 4em;
            align-items: center;
            padding: 3em 6em;
            gap: 1em;

            .icon{
                width: auto;
                height: 30px;
                margin-bottom: -5px;
            }

            .circle{
                position: absolute;
                margin: -2em -64.8px;
            }

            nav{
                
                a{
                    text-decoration: none;
                    color: #ece6e6;
                }
            }
        }
        main{
            justify-content: space-between;
            align-items: center;
            text-align: center;
                p{
                    position: absolute;
                    background-color:#212121 ;
                    padding: 1.5em;
                    margin: 1px 40em; 
                    font-size: 1.1em;  
                    .ita{
                        font-weight: 200;
                    }
                    
                    .times:hover{
                        font-family: 'Times New Roman', Times, serif;
                        font-style: italic;
                    }
                }
                img{
                    z-index: 5;
                }
                h1{
                    position: absolute;
                    text-align: left;
                    font-size: 3em;
                    margin: -9em 2em;
                    .black{
                        color: #212121;
                    }
                }
                h2{
                    text-align: left;
                    font-weight: 400;
                    margin: 10em;
                    position: absolute;
                    max-width: 21em; 
                    margin: -15.5em 60em;
                    float: left;  
                    font-size: 1em;
                }

                .arrow{
                    position: absolute;
                    margin: 27em -43em;
                }

                a:hover{
                    scale: 1;
                    color: #ece6e6;
                    background-color: #212121;
                    font-style: italic;
                    font-weight: 650;
                }

                a{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    color: #212121;
                    background-color: #ece6e6;
                    margin: 2em 34.2em;
                    padding: 1em;
                    font-weight: 450;
                    transition: 450ms;

                    .test{
                        font-size: 100em;
                    }
                }
        }
    }
}

