* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  color: #ece6e6;
  overflow-x: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}


@font-face {
  font-family: 'Spring';
  src: url(../../fonts/Fontspring-DEMO-theseasons-bd.otf);
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #444343;
  
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

header {
  display: flex;
  margin-top: 3em;
  margin-bottom: 2em;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  #tab1{
    opacity: 0.5;
    padding-right: 10px;
    padding-left: 10px;
  }

  .burger{
    display: none;
  }

  a {
    text-decoration: none;
    color: #ece6e6;
  }

  img {
    height: 25px;
    margin: 0px 8px;
  }

  .name {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  .name:hover {
    font-style: italic;
  }
}

main {
  
  .top {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: -7.55em;

    .geo{
      font-family:'Spring';
    }

    .ita:hover{
      font-style: italic;
      transition: 300ms;
    }


    h1, p {
      width: 100%;
      padding: 2.4em 0em;
      margin-top: 0.5em;
    }
    
    h1 {
      font-size: 75px;
    }

    p {
      margin-top: -9.7em;
      font-size: 20px;
    }

    .background {
      position: absolute;
      background-size: cover;
      z-index: -3;
      height: 40em;
      width: 85.4em;
      margin-left: -42.7em;
      padding-top: 8em;
    }

    .links img {
      height: 30px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .arrow {
      margin-top: -8em;
      transform: scale(0.1);
      cursor: pointer;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: -11.1em;

    * {
      min-width: 0;
      min-height: 0;
    }
  }

  .card:hover{
    img {
      transition: transform 500ms;
    }
    
    img {
      transform: scale(1);
    }

    .square {
      color: #444343;
      background-color: #ece6e6;
      transform: scale(1); 
    }
  }

  .card {
    width: 100%;
    text-align: center;

    &:nth-child(even) a {
      flex-direction: row-reverse;
    }
  
    a {
      text-decoration: none;
      color: #ece6e6;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      max-height: 100em;
      width: 100%;

      .square {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #444343;
        gap: 3.5em;
        padding: 10em 2.9em;
      }

      > * {
        flex: 1;
        width: 100%;
        transition: all 500ms ease;
        transform: scale(0.9);

        &:last-child {
          position: relative;
          display: block;
          flex: 2;
        }

        h2 {
          font-size: 35px;
        }
        p {
          opacity: 0.6;
        }
      }
    }
  }
}

footer {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 7em;
  margin: 5em;

  img {
    height: 25px;
    margin-right: 30px;
    margin-left: 30px;
  }

  p {
    padding-top: 30px;
    font-size: 21px;
      span{
        font-family: 'Times New Roman', Times, serif;
      }
      span:hover{
        font-style: italic;
      }
  }
}

.scroll {
  img {
    width: 3%;
    height: auto;
    position: fixed;
    bottom: 4vmax;
    right: 5vmax;
  }
}

@media only screen and (max-width: 412px){
  body{
    overflow:unset;
    margin: 0 auto; /* center the content horizontally */
    max-width: 100%; /* prevent horizontal scrolling */
    overflow-x: hidden;
  }

  header > .links, #tab1, #tab2{
    display: none;
  }

  header{
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;

    .name{
      font-family: '';
      text-align: center;
      font-size: 25px;
      margin-right: -1.5em;
    }

    .burger{
      width: 1.9em;
      height: auto;
      display: block;

    }
  }

  main{
    
    .top{
      h1{
        font-size: 37px;

      }
      p{
        font-size: 11.5px;
        padding-bottom: 3.2em;
      }

      h1, p{
        padding-top: 4em;
        z-index: 5;
      }

      .link > a{
        
      }

      .background{
        position: absolute;
        height: 27em;
        width:22em;
        margin: 0em -11em;
        
      }

      .arrow{
        width: 27em;
        height: auto;
        margin-top: -9.5em;
      }
    }

    section{
      gap: 5em;
      margin-top: -21em;
    
      .card{
        position: relative;
        margin: 10em 0em;

        .square{
          color: #ece6e6;
          align-items: center;
          background-color: #444343;
          transition: 450ms;
          position: absolute;
          margin: 6em 0em;

          h2{
            font-size: 23px;
          }

            p{
              max-width : 40em ;
            }
        }

        img{
          width: 100%; 
          height: auto; 
          position: absolute;

        }
      }
    }
  }

  .scroll{
    display: none;
  }

  footer{
    a{
      display: none;
    }

    p{
      margin: 2em 0em;
      max-width: 50em;
      font-size: 18px;
    }
  }
}

